@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(0, 0%, 94%);
}

.content {}

.content .trophy img {
    display: block;
    margin: auto;
    max-width: 300px;
    height: 300px;
    filter: drop-shadow(0 0 4px #000);
    transition: 0.5s;
    animation: animate 2s linear infinite;
}

@keyframes animate {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.1);
    }
}

.content .text marquee {
    font-weight: 900;
    font-size: 6rem;
    color: #F37429;
    text-shadow: 8px 0px 0px green;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #F37429;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px green;
    animation: blink 1.5s infinite;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: green;
    box-shadow: 0 9px #F37429;
}

@keyframes blink {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5px);
    }
}

/* #developerPra {
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    font-size: 4rem;
    color: rgba(0, 0, 0, 0.7);
} */

